# IDEs
.idea/

# Hugo
resources/
public/
jsconfig.json
node_modules/
go.sum
.hugo_build.lock

# latex files
**/latex

# personal
desktop.ini 

# underdevelopment
content/post
content/project
content/teaching
content/event


# test
test.html