# IDEs
.idea/

# Hugo
resources/
public/
jsconfig.json
node_modules/
go.sum
.hugo_build.lock
hugo_stats.json

# latex files
**/latex

# personal
desktop.ini 

# underdevelopment
content/post
content/event

# test, template
**/sample
**/template
**/test
test.** 