#page-bg {
  background-color: white;
}

article h1, article h2, article h3, article p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

article h1 {
  font-size: 2.75rem !important; 
  font-weight: bold !important;
  line-height: 1.1 !important;
}

.tag-link:hover {
  background-color: lightcyan !important;
  color: #222 !important;
}

a.hb-attachment-link {
  opacity: 1;
  background-color: whitesmoke;
  border-radius: 0.25rem;
  color: #222;
  padding: 0.25rem .8rem;
  font-weight: 500;
  font-size: smaller;
}

.dark a.hb-attachment-link {
  background-color: gray;
  color: #eee;
}

a.hb-attachment-link:hover {
  background-color: lightcyan;
}

/* Hero Section */
.hero {
  background: linear-gradient(45deg,
      rgba(0, 0, 0, 1),       /* black full opacity */
      rgba(30, 30, 30, 0.9),  /* slightly lighter black */
      rgba(10, 10, 10, 0.8),  /* darker black */
      rgba(50, 50, 50, 0.85), /* lighter gray */
      rgba(5, 5, 5, 0.9),     /* very dark black */
      rgba(0, 0, 0, 1)) 0 0 / 600% 600%;
  animation: gradientFlow 20s ease infinite;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.hero h1 {
  font: 900 4.5rem/1.1 system-ui, sans-serif;
  color: #fff;
  text-align: center;
  max-width: 90%;
  position: relative;
  padding: 1rem;
  background: linear-gradient(45deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5));
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes textGlow {
  from {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  }
  to {
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.7));
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem !important;
    max-width: 95%;
  }

  .hero p {
    font-size: 1rem !important; /* ~text-base */
  }

  .hero {
    background-size: 800% 800%;
    animation-duration: 25s;
  }
}


/* End of hero section */

header svg {
  fill: white;
}

.hero svg:hover {
  stroke: cyan;
  scale: 1.2;
}

header {
  background-color: #222 !important;
}

header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

header button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
}

header .navbar-brand:hover {
  color: cyan !important;
}

.navbar-nav .nav-link:hover {
    color: cyan !important;
    background-color: #444;
    border-radius: 0.5rem;
}


header button path {
    fill: white
}

header button:hover path {
    fill: cyan;
}


footer {
    background-color: #222;
    padding: 2rem;
    color: white;
}

footer a {
    color: cyan !important;
    text-decoration: none !important;
}
footer a:hover {
    color: cyan !important;
    opacity: 0.8;
}

.pub.prose a {
  color: crimson;
  text-decoration: none;
}

.citation {
  color: darkcyan !important; 
}

.pub.prose a:hover {
  background-color: lightyellow;
}

article pre .cl {
  white-space: wrap;
  overflow: hidden;
  word-wrap: normal;
}

.pub-type {
  color: #222;
  font-weight: 500;
}

.pub-type:hover {
  background-color: lightyellow;
}

.tag-count {
  background-color: #222;
}

.tag a {
  opacity: 0.6;
  color: black;
  font-weight: 500;
}

.tag a:hover {
  background-color: lightcyan;
  color: #222;
  opacity: 1;
}

.share {
  background-color: #444;
  color: white;
  border-radius: 0.5rem;
  opacity: 1;
}

.share:hover {
  background-color: lightcyan;
}

/* Code */
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 85%;
  color: #24292e;
  padding: 0.2em 0.4em;
  margin: 0;
  border-radius: 6px;
}

code::before,
code::after {
  content: none !important;
}



/* GitHub theme */

.cl {
  white-space: pre !important;
}

.chroma:has(> code.language-fallback) {
  background-color: #444 !important;
  color: whitesmoke !important;
  margin-top: 0;
}


/* GitHub Light theme */
html:not(.dark) .highlight {
  background-color: #ffffff !important;
}

.chroma {
  background-color: ghostwhite !important;
  color: #24292f !important; /* Default text */
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
}

/* Error */
.chroma .err {
  color: #cb2431 !important;
  background-color: #ffeef0 !important;
}

/* Highlighted line */
.chroma .hl {
  background-color: #fffbdd !important;
}

/* Line numbers */
.chroma .ln,
.chroma .lnt {
  color: #6e7781 !important;
}

/* Keywords (import, as, def, return, if, else, etc.) */
.chroma .k,
.chroma .kc,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr,
.chroma .kt {
  color: #cf222e !important;
}

/* Names (functions, variables, modules) */
.chroma .n,
.chroma .na {
  color: #24292f !important;
}
.chroma .nb {
  color: #0550ae !important;
}
.chroma .bp {
  color: #0550ae !important;
}
.chroma .nc {
  color: #953800 !important;
}
.chroma .no {
  color: #0550ae !important;
}
.chroma .nd {
  color: #8250df !important;
}
.chroma .ni {
  color: #24292f !important;
}
.chroma .ne {
  color: #953800 !important;
}
.chroma .nf {
  color: #8250df !important;
}
.chroma .nl {
  color: #24292f !important;
}
.chroma .nn {
  color: #24292f !important;
}
.chroma .nt {
  color: #116329 !important;
}
.chroma .nv,
.chroma .vc,
.chroma .vg,
.chroma .vi {
  color: #24292f !important;
}
.chroma .py {
  color: #24292f !important;
}

/* Strings (including file paths) */
.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .s1 {
  color: #0a3069 !important;
}
.chroma .sr {
  color: #0a3069 !important;
}
.chroma .ss {
  color: #0a3069 !important;
}

/* Numbers */
.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
  color: #0550ae !important;
}

/* Operators (+, -, =) */
.chroma .o,
.chroma .ow {
  color: #cf222e !important;
}

/* Comments (# ...) */
.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1 {
  color: #6e7781 !important;
  font-style: italic !important;
}
.chroma .cs,
.chroma .cp,
.chroma .cpf {
  color: #6e7781 !important;
  font-weight: bold !important;
  font-style: italic !important;
}

/* Diff highlights */
.chroma .gd {
  color: #82071e !important;
  background-color: #ffebe9 !important;
}
.chroma .gi {
  color: #116329 !important;
  background-color: #dafbe1 !important;
}

/* Whitespace */
.chroma .w {
  color: #6e7781 !important;
}

.chroma .line {
  display: block !important;
  white-space: wrap !important;
}

.hb-sidebar-custom-link {
  font-size: 0.75rem;
}

/* Hide parts for local testing */
/* .page-header, .page-footer, .hb-toc {
  display: none !important;
} */

.exercise {
  background-color: rgba(255, 192, 203, 0.2); 
  border-radius: 4px; 
  margin: 2em 0;
  padding-bottom: 16px;

  p, details {
    padding-left: 8px;
    padding-right: 8px;
  }

  details summary {
    color: gray;
    font-weight: 400;
  }
}

.exercise .highlight {
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 4px;
}

.exercise-head {
  background-color: crimson;
  color: white;
  font-weight: 500;
  border-radius: 4px 4px 0 0; 
  padding-left: 8px;

  code {
    color: white;
  }
}