#page-bg {
  background-color: white;
}

.tag-count {
  background-color: #222;
}

.tag a {
  opacity: 0.6;
  color: black;
  font-weight: 500;
}

.tag a:hover {
  background-color: lightcyan;
  color: #222;
  opacity: 1;
}

.share {
  background-color: #444;
  color: white;
  border-radius: 0.5rem;
  opacity: 1;
}

.share:hover {
  background-color: lightcyan;
}

.hb-sidebar-custom-link {
  font-size: 0.75rem;
}

.exercise {
  background-color: rgba(192, 255, 255, 0.15); 
  border-radius: 4px; 
  margin: 2em 0;
  padding-bottom: 16px;

  p, details {
    padding-left: 8px;
    padding-right: 8px;
  }

  details summary {
    color: gray;
    font-weight: 400;
  }
}

.exercise .highlight {
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 4px;
}

.exercise-head {
  background-color: rgb(0, 85, 85);
  color: white;
  font-weight: 500;
  border-radius: 4px 4px 0 0; 
  padding-left: 8px;

  code {
    color: white;
  }
}


